@use "sass:color";
@use "converter.scss";
@use "colors.scss";


@mixin article-card ($color, $border-color, $font-size: converter.rem(converter.$size)) {
    color: $color;
    border: 2px solid $border-color;
    font-size: $font-size;
}

main {
    margin: converter.rem(converter.$size);
    border: 2px solid colors.$colorPrimary;
    text-align: center;
    .title {    
        margin-top: 2rem;

        h1 {
            color: colors.$colorSecondary;
            display: inline;
            border-bottom: 2px solid colors.$colorTertiary;
        }
    }
    

    .lorem-texts {
        display: flex;
        margin: converter.rem(converter.$size);

        .blue-text {
            @include article-card(colors.$colorTertiary, colors.$colorSecondary, );
            padding: 0.7rem 5px;
        }

        .red-text {
            @include article-card(colors.$colorPrimary, colors.$colorSecondary, );
            padding: 0.7rem 5px;
        }
    }

    .footer-text{
        @include article-card(colors.$colorSecondary, colors.$colorTertiary, 24px);
        margin: converter.rem(converter.$size);
        padding: 0.7rem 5px;
    }
}