@use "sass:color";


$colorPrimary: red;
$colorSecondary: green;
$colorTertiary: blue;

$size: 16;

@function rem($size) {
    @return calc($size/16) + rem;
}

@mixin article-card ($color, $border-color, $font-size: rem($size)) {
    color: $color;
    border: 2px solid $border-color;
    font-size: $font-size;
}

main {
    margin: rem($size);
    border: 2px solid $colorPrimary;
    text-align: center;
    .title {
        margin-top: 2rem;

        h1 {
            color: $colorSecondary;
            display: inline;
            border-bottom: 2px solid $colorTertiary;
        }
    }
    

    .lorem-texts {
        display: flex;
        margin: rem($size);

        .blue-text {
            @include article-card($colorTertiary, $colorSecondary, );
            padding: 0.7rem 5px;
        }

        .red-text {
            @include article-card($colorPrimary, $colorSecondary, );
            padding: 0.7rem 5px;
        }
    }

    .footer-text{
        @include article-card($colorSecondary, $colorTertiary, 24px);
        margin: rem($size);
        padding: 0.7rem 5px;
    }
}