@use "sass:color";

$colorPrimary: red;
$colorSecondary: green;
$colorTertiary: blue;

main {
    margin: 1rem;
    border: 2px solid $colorPrimary;
    text-align: center;

    .title {
        color: $colorSecondary;
        margin-top: 2rem;

        h1 {
            display: inline;
            border-bottom: 2px solid $colorTertiary;
        }
    }

    .lorem-texts {
        display: flex;
        margin: 1rem;

        .first-part {
            border: 2px solid $colorSecondary;
            color: $colorTertiary;
            padding: 1rem 5px;
        }

        .second-part {
            @extend .first-part;
            color: $colorPrimary;
        }

        .third-part {
            @extend .first-part;
        }

        .fourth-part {
            @extend .second-part
        }
    }
}