@use "sass:color";

$red: red;
$blue: blue; 
$green: green;

@mixin article-card ($color, $border-color, $font-size: 1rem) {
    color: $color;
    border: 2px solid $border-color;
    font-size: $font-size;
}

main {
    margin: 1rem;
    border: 2px solid $red;
    text-align: center;
    .title {
        margin-top: 2rem;

        h1 {
            color: $green;
            display: inline;
            border: none;
            border-bottom: 2px solid $blue;
        }
    }
    

    .lorem-texts {
        display: flex;
        margin: 1rem;

        .blue-text {
            @include article-card($blue, $green, );
            padding: 0.7rem 5px;
        }

        .red-text {
            @include article-card($red, $green, );
            padding: 0.7rem 5px;
        }
    }

    .footer-text{
        @include article-card($green, $blue, 24px);
        margin: 1rem;
        padding: 0.7rem 5px;
    }
}